.error {
  text-align: center;
  grid-column: center-start / center-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__heading {
    margin-bottom: 2rem;
    font-family: 'Europhonic', 'Nunito';
    font-size: 5rem;
    letter-spacing: 0.5rem;
  }

  &__red {
    position: relative;
  }

  &__red > hr {
    color: red;
    background-color: red;
    height: 0.8rem;
    width: 88%;
    position: absolute;
    left: 0;
    bottom: -5%;
    z-index: -1;
  }
}
