.get {
  margin-bottom: 3rem;
  grid-column: center-start / full-end;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  justify-content: center;

  @include respond(phone) {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }

  &__heading {
    margin-top: 3rem;
    font-family: 'Europhonic', 'Nunito';
    line-height: 1.1;
    font-size: 4rem;
    letter-spacing: 0.5rem;
  }

  &__red {
    position: relative;
  }

  &__red > hr {
    color: red;
    background-color: red;
    height: 0.8rem;
    width: 84%;
    position: absolute;
    left: 0;
    bottom: -5%;
    z-index: -1;

    @include respond(tab-land) {
      width: 90%;
    }

    @include respond(big-desktop) {
      width: 90%;
    }
  }

  &__frame {
    position: relative;
  }

  &__circle {
    width: 425px;
    height: 425px;
    border-radius: 50%;
    position: absolute;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.5);

    @include respond(tab-land) {
      top: -6%;
      width: 390px;
      height: 390px;
    }

    @include respond(laptop) {
      top: -5%;
    }

    @include respond(tab-port) {
      width: 380px;
      height: 380px;
      top: -25%;
    }
    @include respond(phone) {
      width: 220px;
      height: 220px;
      top: 16%;
    }

    @include respond(big-desktop) {
      top: -3%;
      width: 550px;
      height: 550px;
    }
  }

  &__video {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0.5rem auto;
    clip-path: circle(12.2rem at 50% 50%);
    box-shadow: 0px 0px 10px rgba(34, 34, 34, 0.5);
  }

  &__btn {
    margin-top: 2rem;
    margin-bottom: -2rem;
  }
}
