.how {
  grid-column: center-start / center-end;
  text-align: center;

  &__heading {
    font-family: 'Europhonic', 'Nunito';
    font-size: 5rem;
    letter-spacing: 0.5rem;
  }

  &__red {
    position: relative;
  }

  &__red > hr {
    color: red;
    background-color: red;
    height: 0.8rem;
    width: 89%;
    position: absolute;
    right: 1.7rem;
    bottom: 0;
    z-index: -1;

    @include respond(tab-land) {
      width: 96%;
      right: 0.5rem;
    }

    @include respond(big-desktop) {
      width: 97%;
      right: 0.5rem;
    }
  }

  &__btn {
    margin-top: 2rem;
  }
}
